@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Prompt:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}